body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

#contact-info, #education, #experience {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

/* Optional styling */
header p {
    font-style: italic;
}

section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;

}
